<h1><%= t "password.reset" %></h1>
<p><%= t "password.click_link" %></p>
<%= link_to "reset_password", edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "password.ignore" %></p>
