<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <%= user.email %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("sample_app.index.delete"), user, method: :delete,
           data: {confirm: t("sample_app.index.confirm")} %>
  <% end %>
</li>
