<% provide :title, t("sample_app.index.sign_upp") %>
<% provide :button_text, t("sample_app.index.create") %>
<h1><%= t "sample_app.index.sign_upp" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
